<html>
{% load plotly_dash static bootstrap4 %}
    <head>
    {% plotly_header %}
    </head>

<body>
<form method="POST" action="{% url 'tom_alerts:create-scimma-target' %}">
  {% csrf_token %}
  <div class="">
   <input type="submit" value="Create Targets" class="btn btn-primary"/>
 {%  comment %}
      <div class="{% plotly_class name='SkipSwiftXRTDash' %}" style="height: 100%; width: 100%">
       {% plotly_app name="SkipSwiftXRTDash" ratio=1 %}
    </div>
   {%  endcomment %}
      {%plotly_direct name="SkipSwiftXRTDash"%}
  </div>
</form>
</body>
    <footer>
    {% plotly_footer %}
    </footer>

</html>